<header class="w-full h-auto">
  <div class="w-full h-96 py-72 relative  bg-no-repeat bg-cover bg-center" style="background-image:url('../../assets/images/banner.png');">
      <div>
          <nav class="flex pt-24 pl-6">
              <ul class="flex items-center justify-between space-x-4 absolute top-20 left- left-28">
                  <li class="text-lg font-bold hover: cursor-pointer border-b-2 border-red-500 text-white font-open py-4" >Home</li>
                  <li class="text-lg font-bold hover: cursor-pointer  border-b-2 border-red-500 text-white font-open py-4">Menu</li>
                  <li class="text-lg font-bold hover: cursor-pointer border-b-2 border-red-500 text-white font-open py-4">SHOP</li>
                  <li class="text-lg font-bold hover: cursor-pointer border-b-2  border-red-500 text-white font-open py-4">Contact</li>
              </ul>
          </nav>
          <div>

          </div>
          <div></div>
      </div>
  </div>
</header>

<section class="w-full h-auto ">
  <!-- Boutique -->
   <div class=" grid grid-cols-4 gap-6 pt-28 pb-16 items-start">
       <!-- barre laterale  proprites cursor-pointer -->
       <div class="col-span-1 bg--100 px-3 pb-6 shadow ml-3  rounded overflow-hidden">
           <div>
               <h3 class="text-xl underline font-open font-bold text-center pb-4">Categories</h3>
               <div class="divide-dashed divide-y-2 divide-gray-500 ">
                   <p class="text-lg font-normal font-open py-4">Barger</p>
                   <p class="text-lg font-normal font-open py-4">Sandwich</p>
                   <p class="text-lg font-normal font-open py-4">Burger</p>
                   <p class="text-lg font-normal font-open py-4">Food </p>
                   <p class="text-lg font-normal font-open py-4">Pizza</p>
                   <p class="text-lg font-normal font-open py-4">Non-categorisé</p>
               </div>
           </div>
           <h3 class="text-xl underline font-open font-bold text-center py-4">Produits</h3>
           <div class="flex flex-col justify-center  pt-5 space-y-3">
               <!--Carte pour un produit lateral-->
                   <div class="flex space-x-3 items-center pb-5 ">
                       <div class="w-28 h-24 rounded-full shadow-md ">
                           <img src="../../assets/images/gallery_image4-min.jpg" alt="">
                       </div>
                       <div class="flex flex-col space-y-1">
                           <p class="text-lg font-bold font-open py-2 uppercase">Creamy Melt</p>
                           <p class="text-lg font-normal font-open ">4000frca</p>
                       </div>
                   </div>
                 <!-- Fin Carte pour un produit lateral-->
                 <!--Carte pour un produit lateral-->
                 <div class="flex space-x-3 items-center pb-5 ">
                   <div class="w-28 h-24 rounded-full shadow-md ">
                       <img src="../../assets/images/gallery_image5-min.jpg" alt="">
                   </div>
                   <div class="flex flex-col space-y-1">
                       <p class="text-lg font-bold font-open py-2 uppercase">Super Beacon</p>
                       <p class="text-lg font-normal font-open ">2500frca</p>
                   </div>
               </div>
             <!-- Fin Carte pour un produit lateral-->
             <!--Carte pour un produit lateral-->
               <div class="flex space-x-3 items-center pb-5 ">
                   <div class="w-28 h-24 rounded-full shadow-md ">
                       <img src="../../assets/images/gallery_image6-min-768x768.jpg" alt="">
                   </div>
                   <div class="flex flex-col space-y-1">
                       <p class="text-lg font-bold font-open py-2 uppercase">Poulet</p>
                       <p class="text-lg font-normal font-open ">4000frca</p>
                   </div>
               </div>
         <!-- Fin Carte pour un produit lateral-->

           </div>

           <div>
               <h3 class="text-xl underline font-open text-center font-bold  py-4 ">Plus Populaires</h3>
               <div class="flex flex-wrap space-y-3 space-x-3 items-center justify-around" >
                   <p class="text-lg leading-6 hover: cursor-pointer hover:bg-red-500 font-bold font-Source w-24 text-center border-2 border-gray-300 rounded-full">Burger</p>
                   <p class="text-lg leading-6 hover: cursor-pointer hover:bg-red-500 font-bold font-Source w-24 text-center border-2  border-gray-300 rounded-full">Sandwich</p>
                   <p class="text-lg leading-6 hover: cursor-pointer hover:bg-red-500 font-bold font-Source w-24 text-center border-2   border-gray-300 rounded-full">Burger</p>
                   <p class="text-lg leading-6 hover: cursor-pointer hover:bg-red-500 font-bold font-Source w-24 text-center border-2  border-gray-300 rounded-full">Food </p>
                   <p class="text-lg leading-6 hover: cursor-pointer hover:bg-red-500 font-bold font-Source w-24 text-center border-2 border-gray-300 rounded-full">Pizza</p>

               </div>
           </div>
       </div>
       <!-- Fin barre laterale -->
       <div class="col-span-3 ">
           <!-- trier par -->
                       <div class="flex items-center mb-4 ">
                               <select class="w-44 text-sm text-gray-400 px-5 py-3 uppercase border-gray-300 shadow-sm rounded-full focus:ring--400 " name="" id="">
                                   <option value="">Par Defaut</option>
                                   <option value="">Par Popularite</option>
                                   <option value="">moins cher-plus cher </option>
                                   <option value="">Plus Recent</option>
                                   <option value="">plus cher-moins cher</option>

                               </select>
                               <!-- Fin Trier par -->
                               <div class=" gap-2  ml-96 font-bold font-Poppins text-gray-900 text-xl">
                                   <p>Showing 1-6 of 16 results</p>
                               </div>
                       </div>
                   <div class="grid grid-cols-3 gap-x-6 gap-y-11">
                               <div class="flex flex-col justify-center px-2 hover:shadow-md hover: cursor-pointer">
                                       <div class="w-72 h-72 border-transparent rounded-t-2xl  ">
                                           <img src="../../assets/images/pr3.jpeg" alt="">
                                       </div>
                                       <div>
                                           <p class="text-lg leading-6  font-bold font-Source  ">Cheese Burger </p>
                                       </div>
                                       <div class="w-32 h-7 pt-1 flex">
                                           <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                               <path d="M6.04688 17.8984C6.36328 18.3906 7.10156 18.3906 7.41797 17.8984C12.5508 10.5156 13.5 9.74219 13.5 7C13.5 3.27344 10.4766 0.25 6.75 0.25C2.98828 0.25 0 3.27344 0 7C0 9.74219 0.914062 10.5156 6.04688 17.8984ZM6.75 9.8125C5.16797 9.8125 3.9375 8.58203 3.9375 7C3.9375 5.45312 5.16797 4.1875 6.75 4.1875C8.29688 4.1875 9.5625 5.45312 9.5625 7C9.5625 8.58203 8.29688 9.8125 6.75 9.8125Z" fill="#FFB30E"/>
                                               </svg>

                                           <p class="text-lg font-Source leading-6 font-bold text-red-500">Restaurant</p>
                                       </div>
                                       <div class="pt-1 " >
                                           <p class="text-lg font-Source  leading-6 font-bold ">$3.88</p>
                                       </div>
                                       <div class="w-72 h-14 rounded-md bg-red-500 flex items-center justify-center">
                                           <p class="text-white font-Source text-center leading-5 font-bold  ">Order Now</p>
                                       </div>
                               </div>

                               <div class="flex flex-col justify-center px-2 hover:shadow-md hover: cursor-pointer">
                                   <div class="w-72 h-72 border-transparent rounded-t-2xl  ">
                                       <img src="../../assets/images/prod1.jpeg" alt="">
                                   </div>
                                   <div>
                                       <p class="text-lg leading-6  font-bold font-Source ">Cheese Burger </p>
                                   </div>
                                   <div class="w-32 h-7 pt-1 flex">
                                       <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                           <path d="M6.04688 17.8984C6.36328 18.3906 7.10156 18.3906 7.41797 17.8984C12.5508 10.5156 13.5 9.74219 13.5 7C13.5 3.27344 10.4766 0.25 6.75 0.25C2.98828 0.25 0 3.27344 0 7C0 9.74219 0.914062 10.5156 6.04688 17.8984ZM6.75 9.8125C5.16797 9.8125 3.9375 8.58203 3.9375 7C3.9375 5.45312 5.16797 4.1875 6.75 4.1875C8.29688 4.1875 9.5625 5.45312 9.5625 7C9.5625 8.58203 8.29688 9.8125 6.75 9.8125Z" fill="#FFB30E"/>
                                           </svg>

                                       <p class="text-lg font-Source leading-6 font-bold text-yellow-400">Burger Arena</p>
                                   </div>
                                   <div class="pt-1 " >
                                       <p class="text-lg font-Source  leading-6 font-bold ">$3.88</p>
                                   </div>
                                   <div class="w-72 h-14 rounded-md bg-red-500 flex items-center justify-center">
                                       <p class="text-white font-Source text-center leading-5 font-bold  ">Order Now</p>
                                   </div>
                           </div>

                               <div class="flex flex-col justify-center px-2 hover:shadow-md hover: cursor-pointer">
                                   <div class="w-72 h-72 border-transparent rounded-t-2xl  ">
                                       <img src="../../assets/images/pr2.jpeg" alt="">
                                   </div>
                                   <div>
                                       <p class="text-lg leading-6  font-bold font-Source  ">Michoui </p>
                                   </div>
                                   <div class="w-32 h-7 pt-1 flex">
                                       <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                           <path d="M6.04688 17.8984C6.36328 18.3906 7.10156 18.3906 7.41797 17.8984C12.5508 10.5156 13.5 9.74219 13.5 7C13.5 3.27344 10.4766 0.25 6.75 0.25C2.98828 0.25 0 3.27344 0 7C0 9.74219 0.914062 10.5156 6.04688 17.8984ZM6.75 9.8125C5.16797 9.8125 3.9375 8.58203 3.9375 7C3.9375 5.45312 5.16797 4.1875 6.75 4.1875C8.29688 4.1875 9.5625 5.45312 9.5625 7C9.5625 8.58203 8.29688 9.8125 6.75 9.8125Z" fill="#FFB30E"/>
                                           </svg>

                                       <p class="text-lg font-Source leading-6 font-bold text-yellow-400">Teranga</p>
                                   </div>
                                   <div class="pt-1 " >
                                       <p class="text-lg font-Source  leading-6 font-bold ">$4.65</p>
                                   </div>
                                   <div class="w-72 h-14 rounded-md bg-red-500 flex items-center justify-center">
                                       <p class="text-white font-Source text-center leading-5 font-bold  ">Order Now</p>
                                   </div>
                           </div>

                           <div class="flex flex-col justify-center px-2 hover:shadow-md hover: cursor-pointer">
                               <div class="w-72 h-72 border-transparent rounded-t-2xl  ">
                                   <img src="../../assets/images/gallery_image6-min-768x768.jpg" alt="">
                               </div>
                               <div>
                                   <p class="text-lg leading-6  font-bold font-Source  ">Cheese Burger </p>
                               </div>
                               <div class="w-32 h-7 pt-1 flex">
                                   <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                       <path d="M6.04688 17.8984C6.36328 18.3906 7.10156 18.3906 7.41797 17.8984C12.5508 10.5156 13.5 9.74219 13.5 7C13.5 3.27344 10.4766 0.25 6.75 0.25C2.98828 0.25 0 3.27344 0 7C0 9.74219 0.914062 10.5156 6.04688 17.8984ZM6.75 9.8125C5.16797 9.8125 3.9375 8.58203 3.9375 7C3.9375 5.45312 5.16797 4.1875 6.75 4.1875C8.29688 4.1875 9.5625 5.45312 9.5625 7C9.5625 8.58203 8.29688 9.8125 6.75 9.8125Z" fill="#FFB30E"/>
                                       </svg>

                                   <p class="text-lg font-Source leading-6 font-bold text-blue-900">Pullman</p>
                               </div>
                               <div class="pt-1 " >
                                   <p class="text-lg font-Source  leading-6 font-bold ">9500</p>
                               </div>
                               <div class="w-72 h-14 rounded-md bg-red-500 flex items-center justify-center">
                                   <p class="text-white font-Source text-center leading-5 font-bold  ">Order Now</p>
                               </div>
                       </div>

                       <div class="flex flex-col justify-center px-2 hover:shadow-md hover: cursor-pointer">
                           <div class="w-72 h-72 border-transparent rounded-t-2xl  ">
                               <img src="../../assets/images/pub34.jpeg" alt="">
                           </div>
                           <div>
                               <p class="text-lg leading-6  font-bold font-Source  ">Dibiterie </p>
                           </div>
                           <div class="w-32 h-7 pt-1 flex">
                               <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                   <path d="M6.04688 17.8984C6.36328 18.3906 7.10156 18.3906 7.41797 17.8984C12.5508 10.5156 13.5 9.74219 13.5 7C13.5 3.27344 10.4766 0.25 6.75 0.25C2.98828 0.25 0 3.27344 0 7C0 9.74219 0.914062 10.5156 6.04688 17.8984ZM6.75 9.8125C5.16797 9.8125 3.9375 8.58203 3.9375 7C3.9375 5.45312 5.16797 4.1875 6.75 4.1875C8.29688 4.1875 9.5625 5.45312 9.5625 7C9.5625 8.58203 8.29688 9.8125 6.75 9.8125Z" fill="#FFB30E"/>
                                   </svg>

                               <p class="text-lg font-Source leading-6 font-bold text-gradient">Chez Alioune</p>
                           </div>
                           <div class="pt-1 " >
                               <p class="text-lg font-Source  leading-6 font-bold ">$3.88</p>
                           </div>
                           <div class="w-72 h-14 rounded-md bg-red-500 flex items-center justify-center">
                               <p class="text-white font-Source text-center leading-5 font-bold  ">Order Now</p>
                           </div>
                   </div>

                   <div class="flex flex-col justify-center px-2 hover:shadow-xl hover: cursor-pointer">
                       <div class="w-72 h-72 border-transparent rounded-t-2xl  ">
                           <img src="../../assets/images/prod1.jpeg" alt="">
                       </div>
                       <div>
                           <p class="text-lg leading-6  font-bold font-Source  ">Cuisse Poulet </p>
                       </div>
                       <div class="w-32 h-7 pt-1 flex">
                           <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                               <path d="M6.04688 17.8984C6.36328 18.3906 7.10156 18.3906 7.41797 17.8984C12.5508 10.5156 13.5 9.74219 13.5 7C13.5 3.27344 10.4766 0.25 6.75 0.25C2.98828 0.25 0 3.27344 0 7C0 9.74219 0.914062 10.5156 6.04688 17.8984ZM6.75 9.8125C5.16797 9.8125 3.9375 8.58203 3.9375 7C3.9375 5.45312 5.16797 4.1875 6.75 4.1875C8.29688 4.1875 9.5625 5.45312 9.5625 7C9.5625 8.58203 8.29688 9.8125 6.75 9.8125Z" fill="#FFB30E"/>
                               </svg>

                           <p class="text-lg font-Source leading-6 font-bold text-green-200">KFC Dakar</p>
                       </div>
                       <div class="pt-1 " >
                           <p class="text-lg font-Source  leading-6 font-bold ">$3.88</p>
                       </div>
                       <div class="w-72 h-14 rounded-md bg-red-500 flex items-center justify-center">
                           <p class="text-white font-Source text-center leading-5 font-bold  ">Order Now</p>
                       </div>
               </div>

       </div>

   </div>
  </div>
  <!-- Fin Boutique -->
</section>

