<mat-sidenav-container class="sidenav-container" style="background-color:#454d55;">
  <mat-sidenav #drawer class="sidenav" fixedInViewport style="background-color:#343a40;"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/nav" >Home</a>
      <a mat-list-item routerLink="/produit">Produits</a>
      <a mat-list-item routerLink="/gestion-resto">Nos Restaurants</a>
      <a mat-list-item routerLink="/commande">Commandes</a>
      <a mat-list-item routerLink="/livreur">Livreur</a>
      <a mat-list-item href="#">Client</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color:#343a40;" >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>myfood</span>


    </mat-toolbar>
    <div class="pl-5 pt-4">
      <h1 class="text-white font-medium text-3xl font-Poppins">
        RESTAURANTS & TRAITEURS</h1>

        <div class="flex  justify-around items-center space-y-2  flex-wrap py-5">
          <div class="bg-Nav-dash flex pl-2 py-4 items-center space-x-2 h-20 w-72 rounded-md shadow-lg ">
            <div class="w-28 h-16 pl-2  bg-bleu rounded-md ">
              <span class="material-icons flex items-center pt-2 justify-center " style="font-size: 48px;">
                shopping_cart
                </span>
            </div>

            <div class="flex flex-col space-y-2">
              <p class="font-light font-body">Ventes</p>
              <p class="text-xl font-Poppins font-bold text-white ">1000</p>
            </div>
          </div>
          <div class="bg-Nav-dash flex pl-2 py-4 items-center space-x-2 h-20 w-72 rounded-md shadow-lg ">
            <div class="w-28 h-16 pl-2 rounded-md bg-rouge " >
              <span class="material-icons flex items-center pt-2 justify-center" style="font-size: 48px;">
                thumb_up
                </span>
            </div>

            <div class="flex flex-col space-y-2">
              <p class="font-body font-light">Likes</p>
              <p class="text-xl font-Poppins font-bold text-white ">15640</p>
            </div>
          </div>
          <div class="bg-Nav-dash flex pl-2 py-4 items-center space-x-2 h-20 w-72 rounded-md shadow-lg ">
            <div class="w-28 bg-vert pl-2 h-16 rounded-md ">
              <span class="material-icons  pt-2 flex  items-center justify-center" style="font-size: 48px;">
                shopping_bag
                </span>
            </div>

            <div class="flex flex-col space-y-2 ">
              <p class="font-body font-light">Nos restaurants</p>
              <p class="text-xl font-Poppins font-bold text-white ">195</p>
            </div>
          </div>
          <div class="bg-Nav-dash flex pl-2 py-4 items-center space-x-2 h-20 w-72 rounded-md shadow-lg ">
            <div class="w-28 pl-2  bg-jaune h-16 rounded-md ">
              <span class="material-icons pt-2 flex items-center justify-center" style="font-size: 48px;">
                groups
                </span>
            </div>

            <div class="flex flex-col space-y-2">
              <p class="font-body font-light" >Actifs</p>
              <p class="text-xl font-Poppins font-bold text-white ">100</p>
            </div>
          </div>

        </div>

         <!-- Le contenu du pop-u -->
        <div id="ex1" class="modal" style="max-width: 700px;">
          <div>
            <p class="py-4 text-left text-xl font-medium pl-2">Ajouter Un Restaurant</p>
            <div class="leading-loose">
              <form class="p-10 bg-white rounded shadow-xl flex-col flex space-y-2">
                  <div class="">
                      <label class="block text-sm text-gray-600" for="name">Nom </label>
                      <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="name" name="name" type="text" required="" placeholder="" aria-label="Name">
                  </div>
                  <div class="">
                      <label class="block text-sm text-gray-600" for="name"> </label>
                      <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="name" name="name" type="text" required="" placeholder="" aria-label="Name">
                  </div>
                  <div class="">
                      <label class="block text-sm text-gray-600" for="name">Prix</label>
                      <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="name" name="name" type="text" required="" placeholder="" aria-label="Name">
                  </div>
                  <div class="">
                    <label class="block text-sm text-gray-600" for="name">Quantite</label>
                    <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="name" name="name" type="text" required="" placeholder="" aria-label="Name">
                </div>
                <div class="">
                  <label class="block text-sm text-gray-600" for="name">Statut</label>
                  <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="name" name="name" type="checkbox" required="" placeholder="" aria-label="Name">
              </div>
                  <div class="">
                      <label class="block text-sm text-gray-600" for="name">Image Restaurant</label>
                      <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="name" name="name" type="file" required="" placeholder="" aria-label="Name">
                  </div>
                  <div class="mt-2">
                    <label class="block text-sm text-gray-600" for="name">Descriptionn</label>
                     <textarea class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" name="description" id="" cols="30" rows="10"></textarea>
                  </div>

                  <div class="mt-6">
                      <button class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded" type="submit">Submit</button>
                  </div>
              </form>
          </div>
          </div>
           <div class=" bg-bleu w-24 text-center rounded-lg text-white   "> <a href="#" rel="modal:close">Close</a></div>
        </div>

        <!-- Link to open the modal -->
      <!--Ensemble des statistiques-->
        <div class="bg-Nav-dash border-2 rounded-lg pl-4 mx-5 py-5 mt-2 flex justify-between ">
          <div class="flex space-x-2 ">
           <a href="#ex1" rel="modal:open" > <div class="bg-vert w-24 p-1 text-center text-xl flex items-center justify-center ">
              <span class="material-icons ">
                add
                </span>
              New
            </div></a>
            <a href=""><div class="bg-rouge w-14 text-center p-1">
                <span class="material-icons">
                  delete
                  </span>
              </div></a>
          </div>
          <div class="flex space-x-2 pr-5 ">
            <div class="bg-bleu w-24 text-center text-xl flex items-center justify-center ">
              <span class="material-icons ">
                add
                </span>
              Import
            </div>
            <div class="bg-indigo-600 w-24 text-center text-xl flex items-center justify-center">
              <span class="material-icons">
                file_upload
                </span>
                export
            </div>
        </div>
        </div>

        <!-- les derniers commandes inventaire-->
       <div class=" pt-4 shadow-2xl pr-3 ">
          <table class="bg-Nav-dash  pt-4">
            <caption class="bg-Nav-dash py-4 text-left text-xl font-medium pl-2 ">GESTION RESTAURANTS</caption>
            <thead class=" border-2 border-Dash pt-4 border-solid ">
              <tr class="w-full  border-b-4 border-Dash ">
                <th class="px-3 w-64 py-3 font-serif leading-7 text-xl"><span class="material-icons">
                  crop_3_2
                  </span></th>
                <th class="px-3 w-64 py-3 font-serif leading-7 text-xl">Nom</th>
                <th class="px-3 w-64 py-3 font-serif leading-7 text-xl"> Image</th>
                <th class="px-3 w-64 py-3 font-serif leading-7 text-xl"> Nombre de Produits</th>
                <th class="px-3 w-64 py-3 font-serif leading-7 text-xl"> Produits Vendus</th>
                <th class="px-3 w-64 py-3 font-serif leading-7 text-xl"> Statut</th>
                <th class="px-3 w-64 py-3 font-serif leading-7 text-xl"> Options</th>
              </tr>
            </thead>
            <tbody>
              <tr class="w-full  border-b-2 border-Dash pb-2">
                <th class="px-3 w-64 py-3 font-serif leading-7 text-xl"><span class="material-icons">
                  crop_3_2
                  </span></th>
                <td class="px-4 py-3 text-bleu w-80 font-serif leading-7 text-xl" >KFC DAKAR</td>
                <td  class="px-4 py-3 w-96 font-serif leading-7 text-xl"> <img src="../../assets/images/088.jpg" class="shadow-2xl" width="100px" height="60px" alt=""></td>
                <td  class="px-4 py-3 w-80 font-serif text-center leading-7 text-xl">2500 </td>
                <td  class="px-4 text-center py-3 w-96"> 415 </td>
                <td> <mat-slide-toggle class="" color="warn" >Activer </mat-slide-toggle> </td>
                <td class=""> <div class="flex justify-center items-center space-x-2"><a href=""> <span class="material-icons">edit</span></a> <a href=""><span class="material-icons">
                  delete
                  </span></a></div> </td>
              </tr>
              <tr class="w-full  border-b-2 border-Dash pb-2">
                <th class="px-3 w-64 py-3 font-serif leading-7 text-xl"><span class="material-icons">
                  crop_3_2
                  </span></th>
                <td class="px-4 py-3 text-bleu w-80 font-serif leading-7 text-xl" >Pizza de la margueria</td>
                <td  class="px-4 py-3 w-96 font-serif leading-7 text-xl"> <img src="../../assets/images/resto.jpg" class="shadow-2xl" width="100px" height="60px" alt=""></td>
                <td  class="px-4 py-3 w-80 font-serif text-center leading-7 text-xl">42500  </td>
                <td  class="px-4 text-center py-3 w-96"> 4785 </td>
                <td> <mat-slide-toggle class="" color="warn" >Activer </mat-slide-toggle> </td>
                <td class=""> <div class="flex justify-center items-center space-x-2"><a href=""> <span class="material-icons">edit</span></a> <a href=""><span class="material-icons">
                  delete
                  </span></a></div> </td>
              </tr>
              <tr class="w-full  border-b-2 border-Dash pb-2">
                <th class="px-3 w-64 py-3 font-serif leading-7 text-xl"><span class="material-icons">
                  crop_3_2
                  </span></th>
                <td class="px-4 py-3 text-bleu w-80 font-serif leading-7 text-xl" >Teroubi </td>
                <td  class="px-4 py-3 w-96 font-serif leading-7 text-xl"> <img src="../../assets/images/resto2.jpg" class="shadow-2xl" width="100px" height="60px" alt=""></td>
                <td  class="px-4 py-3 w-80 font-serif text-center leading-7 text-xl"> 3522 </td>
                <td  class="px-4 text-center py-3 w-96"> 459 </td>
                <td> <mat-slide-toggle class="" color="warn" >Activer </mat-slide-toggle> </td>
                <td class=""> <div class="flex justify-center items-center space-x-2"><a href=""> <span class="material-icons">edit</span></a> <a href=""><span class="material-icons">
                  delete
                  </span></a></div> </td>
              </tr>
              <tr class="w-full  border-b-2 border-Dash pb-2">
                <th class="px-3 w-64 py-3 font-serif leading-7 text-xl"><span class="material-icons">
                  crop_3_2
                  </span></th>
                <td class="px-4 py-3 text-bleu w-80 font-serif leading-7 text-xl" > Dibiterie </td>
                <td  class="px-4 py-3 w-96 font-serif leading-7 text-xl"> <img src="../../assets/images/pr3.jpeg" class="shadow-2xl" width="100px" height="60px" alt=""></td>
                <td  class="px-4 py-3 w-80 font-serif text-center leading-7 text-xl">3500 </td>
                <td  class="px-4 text-center py-3 w-80"> 145 </td>
                <td> <mat-slide-toggle class="" color="warn" >Activer </mat-slide-toggle> </td>
                <td class=""> <div class="flex justify-center items-center space-x-2"><a href=""> <span class="material-icons">edit</span></a> <a href=""><span class="material-icons">
                  delete
                  </span></a></div> </td>
              </tr>
              <tr class="w-full  border-b-2 border-Dash pb-2">
                <th class="px-3 w-64 py-3 font-serif leading-7 text-xl"><span class="material-icons">
                  crop_3_2
                  </span></th>
                <td class="px-4 py-3 text-bleu w-80  font-serif leading-7 text-xl" >Lazagne</td>
                <td  class="px-4 py-3 w-96 font-serif leading-7 text-xl"> <img src="../../assets/images/cheesy-pasta-150x150.jpg" class=" shadow-2xl " width="100px" height="60px" alt=""></td>
                <td  class="px-4 py-3 w-80 font-serif leading-7 text-center text-xl">4520 </td>
                <td  class="px-4 text-center py-3 w-80"> 321 </td>
                <td> <mat-slide-toggle class="" color="warn" >Activer </mat-slide-toggle> </td>
                <td class=""> <div class="flex justify-center items-center space-x-2"><a href=""> <span class="material-icons" >edit</span></a> <a href=""><span class="material-icons">
                  delete
                  </span></a></div> </td>
              </tr>


            </tbody>

          </table>
          <div>
            <mat-paginator class="bg-Nav-dash" [length]="100"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]"
            aria-label="Select page">
            </mat-paginator>
          </div>
        </div>
       <!-- Fin grid inventaire-->
    </div>
    <div class="w-full  mt-5 py-3 pl-3 flex justify-between bg-Nav-dash h-16">
     <p class="text-xl text-gray-400 "> copright  <span class="rounded-full border-white border px-1 ">C</span>  2021 <span class="text-bleu  ">Officis</span>.All rights reserved </p>
     <p class="text-lg px-5 text-gray-400 ">Designed by freeinov</p>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
