<mat-sidenav-container class="sidenav-container" style="background-color:#454d55;">
  <mat-sidenav #drawer class="sidenav" fixedInViewport style="background-color:#343a40;"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/admin-resto" >Home</a>
      <a mat-list-item routerLink="/admin-resto-produit">Produits</a>
      <a mat-list-item routerLink="/admin-resto-commande">Commandes</a>
      <a mat-list-item routerLink="/livreur">Livreur</a>
      <a mat-list-item href="#">Client</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color:#343a40;" >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>myfood</span>


    </mat-toolbar>
    <div class="pl-5 pt-4">
      <h1 class="text-white font-medium text-3xl font-Poppins">Dashboard</h1>

      <!--Ensemble des statistiques-->
      <div class="flex  justify-around items-center space-y-2  flex-wrap py-5">
        <div class="bg-Nav-dash flex pl-2 py-4 items-center space-x-2 h-20 w-72 rounded-md shadow-lg ">
          <div class="w-28 h-16 pl-2  bg-bleu rounded-md ">
            <span class="material-icons flex items-center pt-2 justify-center " style="font-size: 48px;">
              shopping_cart
              </span>
          </div>

          <div class="flex flex-col space-y-2">
            <p class="font-light font-body">Ventes</p>
            <p class="text-xl font-Poppins font-bold text-white ">1000</p>
          </div>
        </div>
        <div class="bg-Nav-dash flex pl-2 py-4 items-center space-x-2 h-20 w-72 rounded-md shadow-lg ">
          <div class="w-28 h-16 pl-2 rounded-md bg-rouge " >
            <span class="material-icons flex items-center pt-2 justify-center" style="font-size: 48px;">
              thumb_up
              </span>
          </div>

          <div class="flex flex-col space-y-2">
            <p class="font-body font-light">Likes</p>
            <p class="text-xl font-Poppins font-bold text-white ">15640</p>
          </div>
        </div>
        <div class="bg-Nav-dash flex pl-2 py-4 items-center space-x-2 h-20 w-72 rounded-md shadow-lg ">
          <div class="w-28 bg-vert pl-2 h-16 rounded-md ">
            <span class="material-icons  pt-2 flex  items-center justify-center" style="font-size: 48px;">
              shopping_bag
              </span>
          </div>

          <div class="flex flex-col space-y-2 ">
            <p class="font-body font-light">Nos Produits </p>
            <p class="text-xl font-Poppins font-bold text-white ">195</p>
          </div>
        </div>
        <div class="bg-Nav-dash flex pl-2 py-4 items-center space-x-2 h-20 w-72 rounded-md shadow-lg ">
          <div class="w-28 pl-2  bg-jaune h-16 rounded-md ">
            <span class="material-icons pt-2 flex items-center justify-center" style="font-size: 48px;">
              groups
              </span>
          </div>

          <div class="flex flex-col space-y-2">
            <p class="font-body font-light" >Membres</p>
            <p class="text-xl font-Poppins font-bold text-white ">1000</p>
          </div>
        </div>

      </div>

       <!-- Fin Ensemble des statistiques-->

    <!-- les derniers commandes inventaire-->
       <div class="grid grid-cols-3 pt-4 gap-3">
        <div class=" grid col-span-2 ">

          <table class="bg-Nav-dash  pt-4">
            <caption class="bg-Nav-dash py-4 text-left text-xl font-medium pl-2 ">Dernieres Commandes</caption>
            <thead class=" border-2 border-Dash pt-4 border-solid ">
              <tr class="w-full  border-b-4 border-Dash ">
                <th class="px-5 w-80 py-3 font-serif leading-7 text-lg">ID Commande</th>
                <th class="px-5 w-64 py-3 font-serif leading-7 text-lg">Article</th>
                <th class="px-5 w-64 py-3 font-serif leading-7 text-lg"> Livraison</th>
                <th class="px-5 w-64 py-3 font-serif leading-7 text-lg"> Status</th>
                <th class="px-2 w-64 py-3 font-serif leading-7 text-lg"> Reviews</th>
              </tr>
            </thead>
            <tbody>
              <tr class="w-full  border-b-2 border-Dash pb-2">
                <td class="px-6 py-3 text-bleu w-80 font-serif leading-7 text-lg" >AD1254</td>
                <td  class="px-6 py-3 w-96 font-serif leading-7 text-lg"> Mariage</td>
                <td  class="px-6 py-3 w-80 font-serif leading-7 text-lg">Dakar Nord </td>
                <td  class="px-6 text-center py-3 w-80"> <span class="bg-bleu px-2 py-1 font serif leading-7 text-lg rounded-full">En Preparation</span> </td>
                <td  class="px-8 py-3 text-center  w-80 font-serif leading-7 text-lg">8</td>


              </tr>
              <tr class="w-full  border-b-2 border-Dash pt-2">
                <td class="px-6 py-3 text-bleu w-80 font-serif leading-7 text-lg" >15478</td>
                <td  class="px-6 py-3 w-96 font-serif leading-7 text-lg">Brochette de viande</td>
                <td  class="px-6 py-3 w-80 font-serif leading-7 text-lg">Sacre Coeur</td>
                <td  class="px-6 text-center py-3 w-80"> <span class="bg-jaune-clair px-2 py-1 font serif leading-7 text-lg rounded-full">En Commande</span> </td>
                <td  class="px-8 py-3 text-center w-80 font-serif leading-7 text-lg">8</td>


              </tr>
              <tr class="w-full  border-b-2 border-Dash pt-2">
                <td class="px-6 py-3 text-bleu  w-80 font-serif leading-7 text-lg" >SFD45</td>
                <td  class="px-6 py-3 w-96 font-serif leading-7 text-lg">poulet pané</td>
                <td  class="px-6 py-3  w-80 font-serif leading-7 text-lg"> Liberte 6 ext</td>
                <td  class="px-6 text-center py-3 w-80"> <span class="bg-rouge px-10 font py-1 serif leading-7 text-lg rounded-full">Livré</span> </td>
                <td  class="px-8 py-3 text-center w-80 font-serif leading-7 text-lg">74</td>
              </tr>
              <tr class="w-full  border-b-2 border-Dash pt-2">
                <td class="px-6 py-3 text-bleu  w-80 font-serif leading-7 text-lg" >EFD634</td>
                <td  class="px-6 py-3 w-96 font-serif leading-7 text-lg">Sandwich mini</td>
                <td  class="px-6 py-3  w-80 font-serif leading-7 text-lg">Patte D'oir Builders</td>
                <td  class="px-6 text-center py-3 w-80"> <span class="bg-vert px-4 font py-1 serif leading-7 text-lg rounded-full">En attente</span> </td>
                <td  class="px-8 py-3 text-center w-80 font-serif leading-7 text-lg">98</td>
              </tr>
              <tr class="w-full  border-b-2 border-Dash pt-2">
                <td class="px-6 py-3 text-bleu w-80 font-serif leading-7 text-lg" >15478</td>
                <td  class="px-6 py-3 w-96 font-serif leading-7 text-lg">Brochette de viande</td>
                <td  class="px-6 py-3 w-80 font-serif leading-7 text-lg">Chez Alioune</td>
                <td  class="px-6 text-center py-3 w-80"> <span class="bg-jaune-clair px-2 py-1 font serif leading-7 text-lg rounded-full">En Commande</span> </td>
                <td  class="px-8 py-3 text-center w-80 font-serif leading-7 text-lg">8</td>


              </tr>
              <tr class="w-full  border-b-2 border-Dash pt-2">
                <td class="px-6 py-3 text-bleu  w-80 font-serif leading-7 text-lg" >SFD45</td>
                <td  class="px-6 py-3 w-96 font-serif leading-7 text-lg">poulet pané</td>
                <td  class="px-6 py-3  w-80 font-serif leading-7 text-lg"> Pullman</td>
                <td  class="px-6 text-center py-3 w-80"> <span class="bg-rouge px-10 font py-1 serif leading-7 text-lg rounded-full">Livré</span> </td>
                <td  class="px-8 py-3 text-center w-80 font-serif leading-7 text-lg">74</td>
              </tr>
              <tr class="w-full  border-b-2 border-Dash pt-2">
                <td class="px-6 py-3 text-bleu  w-80 font-serif leading-7 text-lg" >EFD634</td>
                <td  class="px-6 py-3 w-96 font-serif leading-7 text-lg">Sandwich mini</td>
                <td  class="px-6 py-3  w-80 font-serif leading-7 text-lg">Teranga</td>
                <td  class="px-6 text-center py-3 w-80"> <span class="bg-vert px-4 font py-1 serif leading-7 text-lg rounded-full">En attente</span> </td>
                <td  class="px-8 py-3 text-center w-80 font-serif leading-7 text-lg">98</td>
              </tr>

            </tbody>

          </table>
          <div class="flex justify-between px-3  bg-Nav-dash py-4 ">
            <a href=""><div class="w-64 bg-bleu rounded-lg text-xl text-center py-2 ">Nouvelle commande</div></a>
             <a href=""> <div class="w-60 bg-Dash rounded-lg text-center py-2 text-xl ">Toutes les commandes </div></a>
          </div>
        </div>
        <div class="bg-Nav-dash pl-3 py-2">
          <p class="bg-Nav-dash py-4 text-left text-xl font-medium pl-2">Nos Produits Recents</p>
          <div class="pt-2 flex-col flex space-y-3 divide-grey-100 divide-y-2 " >
              <div class="flex space-x-3 pt-1  items-center " >
                <img src="../../assets/images/gallery_image6-min-768x768.jpg" alt="" width="100px" height="100px">
                    <div class="flex flex-col space-y-1">
                      <div class="flex  space-x-16 ">
                        <h2 class="text-bleu text-xl font-medium font-Source ">Hamburger Local </h2>
                        <span class=" w-16 text-center text-black bg-jaune-clair rounded-lg font-medium font-Poppins ">1800 fr</span>
                      </div>
                      <p class="font-body font-medium text-xl text-gray-400 " >Hamburger a base de viande </p>
                  </div>
              </div>
              <div class="flex space-x-3 pt-1  items-center " >
                <img src="../../assets/images/gallery_image6-min-768x768.jpg" alt="" width="100px" height="100px">
                    <div class="flex flex-col space-y-1">
                      <div class="flex  space-x-16 ">
                        <h2 class="text-bleu text-xl font-medium font-Source ">Hamburger Local </h2>
                        <span class=" w-16 text-center text-white bg-rouge items-center flex justify-center rounded-lg font-medium font-Poppins ">2500 fr</span>
                      </div>
                      <p class="font-body font-medium text-xl text-gray-400 " >Hamburger a base de viande </p>
                  </div>
              </div>
              <div class="flex space-x-3 pt-1  items-center " >
                <img src="../../assets/images/gallery_image6-min-768x768.jpg" alt="" width="100px" height="100px">
                    <div class="flex flex-col space-y-1">
                      <div class="flex  space-x-16 ">
                        <h2 class="text-bleu text-xl font-medium font-Source ">Hamburger Local </h2>
                        <span class=" w-16 text-center text-white items-center flex justify-center bg-bleu rounded-lg font-medium font-Poppins ">3250 fr</span>
                      </div>
                      <p class="font-body font-medium text-xl text-gray-400 " >Hamburger a base de viande </p>
                  </div>
              </div>
              <div class="flex space-x-3 pt-1  items-center " >
                <img src="../../assets/images/gallery_image6-min-768x768.jpg" alt="" width="100px" height="100px">
                    <div class="flex flex-col space-y-1">
                      <div class="flex  space-x-16 ">
                        <h2 class="text-bleu text-xl font-medium font-Source ">Hamburger Local </h2>
                        <span class=" w-16 text-center text-white bg-vert rounded-lg items-center flex justify-center font-medium font-Poppins ">4500 fr</span>
                      </div>
                      <p class="font-body font-medium text-xl text-gray-400 " >Hamburger a base de viande </p>
                  </div>
              </div>
          </div>
          <a href=""><p class=" mt-3 flex items-center bg-Nav-dash border-Dash border-2 py-2  justify-center leading-7 font-open font-bold text-bleu">View all Products</p></a>
        </div>
       </div>
       <!-- Fin grid inventaire-->
    </div>
    <div class="w-full  mt-5 py-3 pl-3 flex justify-between bg-Nav-dash h-16">
     <p class="text-xl text-gray-400 "> copright  <span class="rounded-full border-white border px-1 ">C</span>  2021 <span class="text-bleu  ">Officis</span>.All rights reserved </p>
     <p class="text-lg px-5 text-gray-400 ">Designed by freeinov</p>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
