<mat-sidenav-container class="sidenav-container"  style="background-color:#454d55;"   >
  <mat-sidenav #drawer class="sidenav" fixedInViewport style="background-color:#343a40;"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/nav" >Home</a>
      <a mat-list-item  routerLink="/produit" >Produits</a>
      <a mat-list-item href="#">Nos Restaurants</a>
      <a mat-list-item href="#">Commandes</a>
      <a mat-list-item href="#">Livreur</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color:#343a40;" >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>food</span>
    </mat-toolbar>
    <div class=" px-5">
      <h1 class=" pl-6 text-3xl underline font-Source font-medium pt-4 pb-1 ">Liste des  Produits</h1>
        <h4 class=" pl-8 text-xl font-Source  font-medium py-2 " >ce tableau represente l'ensemble des produits enregistrés sur le site</h4>

    </div>


  </mat-sidenav-content>
</mat-sidenav-container>
